{%extends 'apps/base.html' %}

{%block title %}
    All Flights
    {%endblock%}
{%block body %}
    <h1>All Flights</h1>
    <ul>
        {% for flight in flight %}
            <li>
                <a href="{% url 'flight' flight.id%}">{{ flight.id }}: 
                    {{ flight.origin }} to
                     {{ flight.destination }} 
                    ({{ flight.duration }} mins)</a>
                
         </li>
            
        {% empty %}
            <li>No flights available.</li>
        {% endfor %}
        
    </ul>
{%endblock%}

